<h3>interpolation types</h3>
<p>interpolation property :: {{updateCounter}}</p>
<p>interpolation function:: {{getValue()}}</p>
<p>interpolation mathmatics operation:: {{2+2}}</p>
<p>interpolation compare value:: {{"yes"=== matchValue}}</p>
<p class={{upper}}>interpolation you can use value as class name in class attr:: {{"yes"=== matchValue}}</p>


<p>can not change value "assigning finction"</p>
<p>can not check type using typeof operatorder,</p>
<p>can not use new operatore, </p>
<p>can't use increment and decrement operatore</p>